{% extends '/products/baseadminproduct.html' %}

{% block body %}
    <div class="container">
        <div>
            <div>
                {% include '_message.html' %}
                {% if brands %}
                <h1>Add a brand</h1>
                    
                <form action="" method="POST">
                    <input type="text" name="brand" >
                    <input type="submit" value="Add brand" class="btn btn-primary">
                </form>
                    
                {% else %}

                <h1>Add a category</h1>
                    
                <form action="" method="POST">
                    <input type="text" name="category" >
                    <input type="submit" value="Add category" class="btn btn-primary">
                </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}