<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Prakrati-Administrator	</title>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">  </a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="/home"><i class="fa fa-dashboard"></i> Status</a>
                    </li>
                     <li>
                        <a href="/accepted"><i class="fa fa-dashboard"></i> Accepted</a>
                    </li>
                     <li>
                        <a href="/rejected"><i class="fa fa-dashboard"></i> Rejected</a>
                    </li>
                    
                    <li>
                        <a href="/adminproduct"><i class="fa fa-dashboard"></i> Products</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
					</ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Status <small>Appoinments</small>
                        </h1>
                    </div>
  
                </div>
   
    
					<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                        </div>
                  
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
			

       
							<div class="panel panel-primary">
                                    <div class="panel-heading">
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                                       
                        
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                           
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>First / Further Appoinment</th>
											<th>Slot</th>
											<th>Service Type</th>
                                            <th>Choosed Doctor</th>
											<th>Date</th>
											<th>Optional Date</th>
											<th>Accept</th>
											<th>Reject</th>
											
                                        </tr>
                                    </thead>
                                    <tbody>




                        
                       
                                    {%for a in record%}
                                   
										<tr>
										    <th>{{a.first_name}} {{ a.last_name}}</th>
												<th>{{a.email}}</th>
												<th>{{a.first_appoinment}}</th>
												<th>{{a.slot}}</th>
												<th>{{a.service_type}}</th>
                                                <th>{{a.doctor}}</th>
												<th>{{a.date}}</th>
												<th>{{a.date2}}</th>
											
									

									<th><a href='/Accept/{{a.id}}'class='btn btn-success' >Accept</a></th>



                                    <th><a href='/reject/{{a.id}}'class='btn btn-danger'>Reject</a></th>
												</tr>
                                           
                                    {%endfor%}
                                    
                                     </div>
							            
                                    </tbody>
                                </table>
								
                            </div>
                        </div>
                    </div>
                      <!-- End  Basic Table  --> 
                                        </div>
                                    </div>
                                </div>
							              
				
										
                    

                <!-- /. ROW  -->
				
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- Bootstrap Js -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>


</body>

</html>