/* uicards */
*{
    box-sizing: border-box;
}

.uicards{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: aliceblue;
}

#toph1{
    background-image: url(https://media.istockphoto.com/id/946765682/photo/herb-and-spice-abstract-border.jpg?s=612x612&w=0&k=20&c=lEzi3vqjKcGJhewAZQLvkdQGgLcLP4hiRfOY5UEGI6U=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 5vh;

}

.container {
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 30px;
    color: aliceblue;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 1s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}

.panel.active{
    flex: 3;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in 0.5s;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (max-width:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}
.panel.active a{
    color: aliceblue;
    text-decoration: none;
}

/* ui cards end */

.predict{
    height: 50vh;
    width: 95vw;
}

#line{
    border: 2px solid #4e8958;
}

.text-left {
    text-align: left;
    color: rgb(30, 106, 44);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    margin: 0 2vw;
    padding: 0 2vw;
}

.main{
    color: #4e8958;
    text-shadow: 0 0 10px rgba(125, 234, 136, 0.966);
}

.app{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 12px;
    margin: 32px 9px;
    text-decoration: none;
    font-size: 15px;
    background-color:#4e8958 ;
    border-radius: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow .3s ease-out;
}

.app .icon {
    display: none;
}


.app:hover{
    box-shadow: 8px 8px #4e8958;
    background-color: rgb(255, 255, 255);
    color: #4e8958;
    border: 2px solid #4e8958;

}

#contact{
    padding: 30vh 20vw;
    min-height: 80vh;
    font-size: 3vw;
}