{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='predict/diabetesPredictor.css') }}">
{% endblock link %}


{% block title %}heart defect Predictor{% endblock title %}



{% block body %}
<div class="section" id="heartformSec">
    <p>Let's Take a Heart Condition Check !!</p>
    <form name="form" method="post" action="/heartdefectResults">
        <div class="heartform">
            <div class="form-content">
                <label>Name</label>
                <input name="Name">
            </div>
            
            <div class="form-content">
                <label>age</label>
                <input type="number" name="age" required>
            </div>

            <div class="form-content">
                <label class="radiolabelsex">Sex  </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="0" checked="">female
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="1">male
                </label>
            </div>
            <div class="form-content">
                <label class="radiolabels">Type of chest pain  </label>
                <label class="radio-inline">
                    <input type="radio" name="cp" value="0" checked="">normal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="cp" value="1">typical angina
                </label>
                <label class="radio-inline">
                    <input type="radio" name="cp" value="2">non — anginal pain
                </label>
                <label class="radio-inline">
                    <input type="radio" name="cp" value="3">atypical angina
                </label>
                <label class="radio-inline">
                    <input type="radio" name="cp" value="4">asymptotic
                </label>

            </div>
            <div class="form-content">
                <label> Resting blood pressure in mmHg</label>
                <input type="number" name="trestbps" required>

            </div>
            <div class="form-content">
                <label>Serum Cholestero in mg/dl</label>
                <input type="number" name="chol" required>

            </div>
            <div class="form-content">
                <label class="radiolabel">Fasting Blood Sugar  </label>
                <label class="radio-inline">
                    <input type="radio" name="fbs" value="1">Is more than 120mg/dl
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fbs" value="0" checked="">otherwise
                </label>

            </div>
            <div class="form-content">
                <label for="restecg" class="radiolabel">Resting ElectroCardioGraphic results </label>
                <label class="radio-inline">
                    <input type="radio" name="restecg" value="0" checked="">normal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restecg" value="1">ST-T wave abnormality
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restecg" value="2">left ventricular hyperthrophy
                </label>

            </div>
            <div class="form-content">
                <label for="thalach">Max heart rate achieved</label>
                <input type="number" name="thalach" required>

            </div>

            <div class="form-content">
                <labe class="radiolabel"l>Exercise induced angina  </label>
                <label class="radio-inline">
                    <input type="radio" name="exang" value="1">yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="exang" value="0" checked="">no
                </label>

            </div>
            <div class="dform-content">
                <label>ST depression induced by exercise relative to rest</label>
                <input type="number" step="0.1" name="oldpeak" required>

            </div>
            <div class="form-content heart">
                <label class="radiolabel">Peak exercise ST segment  </label>
                <label class="radio-inline">
                    <input type="radio" name="slope" value="0" checked="">flat
                </label>
                <label class="radio-inline">
                    <input type="radio" name="slope" value="1">upsloping
                </label>
                <label class="radio-inline">
                    <input type="radio" name="slope" value="2">downsloping
                </label>
            </div>
            <div class="dform-content">
                <label>Number of major vessels</label>
                <input type="number" name="ca" required>

            </div>
            <div class="form-content">
                <label class="radiolabels">Thalassemia  </label>
                <label class="radio-inline">
                    <input type="radio" name="thal" value="1" checked="">normal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="thal" value="2">fixed defect
                </label>
                <label class="radio-inline">
                    <input type="radio" name="thal" value="3">reversible defect
                </label>

            </div>
        </div>
    <div class="form-content">
    <input class="btn" id="sbtn" type="submit" name="submit" value="Submit">
    </div>
</div>
</form>
</div>
<div class="section" id="resultsec">
{% include 'heartdefectResultform.html' %}
</div>
<script>
    const genders = document.querySelector('.gender')

    genders.forEach((gender, idx) => {
        gender.addEventListener('click', () => (idx))
    })

    function pregencies(idx) {
        if (value == 'male') {
            style.display = "none"
        }
    }

</script>

{% endblock body %}