
{% extends 'base.html' %}

{% block link %}

<link rel="stylesheet" href="{{ url_for('static', filename='predict/predictor.css') }}"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock link %}

{% block title %}Home{% endblock title %}
{% block body %}

<div class="predict diapredict">
	<div class="text-left">
		<h1 class="main">Disease Predictor </h1>
		<p>Use our disease predictor and take required actions for Your Health before it too late</p>
		<hr>

		<h3 class="main">दुनियाभर में क्या है डायबिटीज की स्थिति?</h3>
		<p>दुनियाभर में लगातार डायबिटीज के मरीजों की संख्या बढ़ती जा रही है. डब्ल्यूएचओ की एक रिपोर्ट बताती है कि  साल 1980 के दौरान दुनिया में 108 मिलियन मरीज डायबिटीज के थे, लेकिन 2014 में यह संख्या 422 मिलियन हो गई थी | इसके बाद से ये कम कमाई या मिडिल इनकम वाले देशों में डायबिटीज के मरीजों की संख्या लगातार बढ़ती जा रही है. दरअसल, डायबिटीज की वजह से शरीर के कई हिस्सों पर असर पड़ता है और कई बार ये मौत का कारण बनते हैं | जैसे 2019 में 2 मिलियन यानी करीब 20 लाख लोगों की मौत का कारण डायबिटीज और किडनी था | <br>

		साल 2019 में डायबिटीज की वजह से सीधे 1.5 मिलियन लोगों की मौत हो गई थी और इसमें 48 फीसदी मौतें 70 साल की उम्र से पहले हुई थी | इसके अलावा 46 हजार लोगों की मौत डायबिटीज की वजह से हुई किडनी की दिक्कत वजह से हुई और डायबिटीज की वजह से होने वाली सीने में दिक्कत की वजह से भी कई लोगों की मौत हो गई. बता दें कि डायबिटीज अक्सर अंधापन, किडनी फेलियर, हार्ट अटैक, स्ट्रोक आदि का कारण बनता है |</p>
		<h3 class="main">भारत की क्या है कहानी?</h3>
		<p>ये तो आपने जान लिया कि दुनिया भर में डायबिटीज की संख्या काफी ज्यादा है, लेकिन क्या आप जानते हैं भारत की स्थिति भी काफी भयावह है | डायबिटीज के मरीजों के मामले में भारत का दूसरा स्थान है | चीन के बाद भारत में सबसे ज्यादा डायबिटीज के मरीज है | बता दें कि भारत में 77 मिलियन लोग डायबिटीज से परेशान हैं और इसमें 12.1 मिलियन लोग 65 साल से कम के हैं और माना जा रहा है कि 2045 तक ये आंकड़ा 27 मिलियन को पार कर जाएगा | कहा जा सकता है कि भारत में हर 11 लोगों में से एक शख्स को डायबिटीज है |<br>

			अगर मरने वाले लोगों की संख्या की बात करें तो साल 2020 में 7 लाख ऐसे लोगों की मौत हुई है, जिनके डायबिटीज की वजह से किडनी, हाइपरग्लेसिमिया जैसे रोग हुए थे | वहीं, भारत में पुरुष और महिलाओं में लगभग बराबर मरीज हैं और सबसे ज्यादा 70 साल से ज्यादा उम्र के लोग इससे परेशान हैं | कई सर्वे में सामने आया है कि भारत में मौत का 7वां कारण अब डायबिटीज बनता जा रहा है और हर साल करीब 9-10 लाख इसकी वजह से अपनी जान गवां रहे हैं| </p>
		<br>
		<h3 class="main">Impact of Diabetes around the world !</h3>
		<p>The number of people with diabetes rose from 108 million in 1980 to 422 million in 2014. Prevalence has been rising more rapidly in low- and middle-income countries than in high-income countries.<br>
			Diabetes is a major cause of blindness, kidney failure, heart attacks, stroke and lower limb amputation.<br>
			Between 2000 and 2019, there was a 3% increase in diabetes mortality rates by age.<br>
			In 2019, diabetes and kidney disease due to diabetes caused an estimated 2 million deaths.<br>
			A healthy diet, regular physical activity, maintaining a normal body weight and avoiding tobacco use are ways to prevent or delay the onset of type 2 diabetes.<br>
			Diabetes can be treated and its consequences avoided or delayed with diet, physical activity, medication and regular screening and treatment for complications.</p>
			<h3 class="main">Diabetes in India</h3>
			<p>In India, there are estimated 77 million people above the age of 18 years are suffering from diabetes (type 2) and nearly 25 million are prediabetics (at a higher risk of developing diabetes in near future). More than 50% of people are unaware of their diabetic status which leads to health complications if not detected and treated early. Adults with diabetes have a two- to three-fold increased risk of heart attacks and strokes. Combined with reduced blood flow, neuropathy (nerve damage) in the feet increases the chance of foot ulcers, infection, and the eventual need for limb amputation. Diabetic retinopathy is an important cause of blindness and occurs as a result of long-term accumulated damage to the small blood vessels in the retina. Diabetes is among the leading causes of kidney failure.</p>
	
            <div class="btn"><a class="app" href="/predictdiabetes">Click here to predictic you are diabetic or not </a></div>
        </div>
</div>
<div class="predict heartpredict">
	<div class="text-left">

		<h3 class="main"> हृदय रोग </h3>
		<p>हृदय रोग वे रोग होते हैं जो सीधे आपके हृदय को प्रभावित करते हैं। हृदय रोगों के अंदर रक्त वाहिका संबंधी रोग जैसे कि कोरोनरी धमनी रोग, हार्ट रिदम प्रॉब्लम (एरिथमिया) और जन्मजात हृदय दोष जैसे कई अन्य रोग भी आते हैं।

			<br>
			हमरा दिल यानी कि हृदय   हमारे शरीर के सबसे जरूरी अंगों में से एक है। दिल के सबसे जरूरी काम की बात करें, तो ये मानव शरीर में ब्लड सर्कुलेशन को सही रखता है और बाकी अंगों को तक खून के जरिए पोषण और ऑक्सीजन पहुंचाता है। ये सर्कुलेटरी सिस्टम  का अंग है, जिसका काम बिना रूके चलता रहता है। इसलिए दिल को स्वस्थ रखने के लिए  जरूरी है कि आप इनसे जुड़े सभी चीजों के स्वास्थ्य का भी ध्यान रखें। जैसे कि दिल के चार चैंबर्स  के दो आर्टिया और दो वेनट्रिकल्स  का भी ध्यान रखें। इनमें नसों और धमनियों के एक जटिल नेटवर्क होता है, जिसके माध्यम से शरीर ब्लड को बाकी अंगों तक पहुंचाता है।  पर अगर किसी कारण से इन नसों और धमनियों में अवरोध पैदा हो जाता है, जो ये दिल से जुड़ी बीमारियों का कारण बनता है। 

		</p>
		<h3 class="main">भारत की क्या है कहानी?</h3>
		<p>
			भारत में होने वाली कुल मौतों में से 28 फीसदी मौतें दिल की बीमारियों की वजह से हो रही हैं।<br>

			देश में दिल की बीमारियां महामारी का रूप लेती जा रही हैं। अब आईसीएमआर की एक रिपोर्ट में इसे लेकर चौंकाने वाला खुलासा हुआ है। रिपोर्ट के अनुसार, देश में होने वाली कुल मौतों में से 28 प्रतिशत मौतों की वजह दिल की बीमारी होती है। केंद्रीय स्वास्थ्य मंत्रालय ने राज्य सभा में यह जानकारी दी है। रिपोर्ट में बताया गया है कि कैंसर और डायबिटीज से भी बड़ी संख्या में लोगों की जान गई है। </p>
		<br>
		<h3 class="main">Impact of heart Disease around the world !</h3>
		<p>Cardiovascular diseases (CVDs) are the leading cause of death globally.
			<br>
			An estimated 17.9 million people died from CVDs in 2019, representing 32% of all global deaths. Of these deaths, 85% were due to heart attack and stroke.
			<br>Over three quarters of CVD deaths take place in low- and middle-income countries.<br>
			Out of the 17 million premature deaths (under the age of 70) due to noncommunicable diseases in 2019, 38% were caused by CVDs.<br>
			Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol.<br>
			It is important to detect cardiovascular disease as early as possible so that management with counselling and medicines can begin.
			</p>
			<h3 class="main">Heart Disease in India</h3>
			<p>Cardiovascular diseases (CVDs) are a group of disorders of the heart and blood vessels, including coronary heart disease, cerebrovascular disease, peripheral arterial disease, rheumatic heart disease, congenital heart disease, deep vein thrombosis and pulmonary embolism. An estimated 17.9 million people died from CVDs in 2016, representing 31% of all global deaths. Of these deaths, 85% were due to heart attack and stroke.<br>

				Over 75% of CVD deaths take place in low- and middle-income countries where raised blood pressure happens to be amongst the most important risk factors for CVDs.  In 2016 India reported 63% of  total deaths due to NCDs, of which 27% were attributed to CVDs. CVDs also account for 45% of deaths in the 40-69 year age group.</p>
	
            <div class="btn"><a class="app" href="/predictheartdefect">Click here to predictic your heart condition </a></div>
        </div>
</div>

{% endblock body %}