<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
<div>
    <table border="1">
        <thead>
            <tr>
                <th colspan="2">Personal Information</th>
                <th colspan="8">Basis on which Prediction is made</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th id="tdpreg">Pregnancies</th>
                <th>Glucose</th>
                <th>Blood Pressure</th>
                <th>Skin Thickness</th>
                <th>Insulin</th>
                <th>BMI</th>
                <th>Diabetes Pedigree Function</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Name}}</td>
                <td>{{gender}}</td>
                <td>{{Pregnancies}}</td>
                <td>{{Glucose}}</td>
                <td>{{BloodPressure}}</td>
                <td>{{SkinThickness}}</td>
                <td>{{Insulin}}</td>
                <td>{{BMI}}</td>
                <td>{{DiabetesPedigreeFunction}}</td>
                <td>{{Age}}</td>
            </tr>
        </tbody>
    </table>

    <p> <big> You are a {{prediction}} !!</big></p>

    {% if (prediction =='non-diabetic person') %}
    <p> As you are not detected diabetic , but for continue your healthy journey takes some tonics</p>
    <div>
        <pre>1. करेला स्वरस /BitterGourd Juice/Karela Juice ( 15ml , 2 times a day )
2. मेथी चूर्ण /Fenugreek seeds/Methi Powder ( 1 teaspoonful (around 5gm) , 2 times a day )
3. आंवला स्वरस /Indian gooseberry/Amla Juice ( 15ml juice + 15ml water , 2 times a day )</pre>
    </div>
    {% else %}
    <p>As you are detected diabetic , for being healthy again we gives you a short prescription</p>
    <div>
        <pre>1. निशामलकी /Nishamakali ( 1 teaspoonful , 2 times a day )
2. करेला स्वरस /BitterGourd Juice/Karela Juice ( 15ml , 2 times a day )
3. मेथी चूर्ण /Fenugreek seeds/Methi Powder ( 1 teaspoonful (around 5gm) , 2 times a day )
4. आंवला स्वरस /Indian gooseberry/Amla Juice ( 15ml juice + 15ml water , 2 times a day )
5. त्रिफला चूर्ण /Triphla Powder ( 1 teaspoonful (3gm) , 2 times a day )</pre> 
    </div>
    {% endif %}

</div>
<!-- </body>
</html> -->