<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <div>{{prediction}}

        <table>
            <thead>
                <tr>
                    <th colspan="2">Personal Information</th>
                    <th colspan="8">Basis on which Prediction is made</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th id="tdpreg">Pregnancies</th>
                    <th>Glucose</th>
                    <th>BloodPressure</th>
                    <th>SkinThickness</th>
                    <th>Insulin</th>
                    <th>BMI</th>
                    <th>Diabetes Pedigree Function</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>row header</th>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
        
    </div>
<!-- </body>
</html> -->
